#opener
  top 0px
  left 0px
  width 100%
  min-height 100vh
  position relative
  z-index 20
  text-align center
  background #555
  overflow hidden
  h1
    font-size 70px
    font-weight 100
    text-align center
    padding-top 81px
    padding-bottom 8px
    line-height 1.2em
    margin 1.5em 0px 0px 0px
    color OverlayTextColor
    position relative
    z-index 40
    padding 0px 1em
    @media MediaMobile
      font-size 40px
  p
    font-weight 100
    text-align center
    line-height 1.7em
    font-size 24px
    color OverlayTextColor
    max-width 600px
    text-shadow OverlayTextShadow
    margin 1.5em auto 0px auto
    position relative
    z-index 40
    @media MediaMobile
      font-weight 300
      padding-left 20px
      padding-right 20px
      font-size 16px
  img
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    min-width 100vw
    min-height 100vh
    z-index 20
  .note
    position absolute
    bottom 7px
    right 15px
    color white
    z-index 40
    a
      color white
  &:after
    content ""
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%
    z-index 30
    background CoverImageGradientOverlay
  #scroll-btn
    z-index 50
    display block
    top 130px
    position relative
    margin-left ScrollButtonRightFromCenter
    text-transform uppercase
    color OverlayTextColor
    font-weight 200
    font-size 18px
    text-decoration none
    padding-bottom 2px
    span
      transition border-bottom 0.2s
      border-bottom 1px solid rgba(255,255,255,1)
    &:hover
    &:active
      span
        border-bottom 1px solid rgba(255,255,255,0)
    &:hover:before
      transform translate(-50%, 0) rotate(90deg) scale(1.1)
      background rgba(255,255,255,0.1)
    &:before
      background rgba(255,255,255,0.4)
      transition transform 0.6s, background 0.6s
      content "›"
      position absolute
      top -80px
      left 50%
      transform translate(-50%, 0) rotate(90deg)
      text-align center
      line-height 52px
      font-size 50px
      width 60px
      height 60px
      border 1px solid OverlayTextColor
      font-weight 300
      border-radius 50%
  &.no-cover-img
    max-width 1024px
    margin 0px auto
    min-height 0
    background transparent
    &:after
      content none
    h1
    p
      margin-left 0px
      text-align left
      color ColorRozhlas
    h1
      padding-left 0px
      font-size 45px
      font-weight 900
    p
      margin-top 0.8em
      font-size 20px
      font-weight normal
      padding 0px
    @media MediaSmallScreen
      margin-left 0px
      padding-left 15px
      padding-right 15px
      max-width none
      h1
      p
        margin-left 0px
    @media MediaMobile
      h1
        margin-top 2em
        font-size 30px
