&
  @media MediaSmallScreen
    padding 0px 15px
  .mapka
    position relative
    max-width 1000px
    svg
      transform-origin 0 0
      path
        fill ColorRed
        stroke darken(ColorRed, 30%)
        stroke-width 1
        &:hover
          fill-opacity 0.7
          cursor pointer
        &.active
          fill ColorBlue
        &.is-inactive
          stroke #a
          fill white
          &:hover
            cursor not-allowed
    select
      position absolute
      top 10px
      right 30px


  .vizitky
    margin-top 25px
    h1
      font-size 24px
      color ColorRed
      margin 0 0 25px 0
    ul
      list-style-type none
      padding 0
      margin 0
      width 100%
      max-width 800px
      li
        display flex
        flex-direction row
        margin-bottom 15px
        width 100%
        .left
          line-height 0
          order 1
        .right
          position relative
          order 2
          flex-grow 1
          padding-left 15px
          background rgba(254,255,255,0.5)
          background linear-gradient(to right, rgba(255,255,255,0) 0px, rgba(255,255,255,1) 15px)

        h2
          font-size 22px
          font-weight bold
          margin 0 0 9px 0
          line-height 1em
          color ColorBlue
          position relative
          padding-left 28px
          .cislo
            position absolute
            top 0
            left 0
            width (@font-size - 3px)
            height @width
            line-height @width
            background ColorBlue
            color white
            font-size 10px
            border-radius 50%
            text-align center
        .strana
          display block
          color #3
          font-size 13px
        .supplemental
        .share
          margin-top 5px
          display block
          color #3
          font-size 13px
        .share
          font-size 12px
        img
          width 120px
          height auto
        audio
          position absolute
          bottom 0
          left 15px
          width 100%
        // .left
  .invitation
    color #3
    text-align center
&.is-share
  display flex
  flex-direction column
  .vizitky
    order 1
    margin-top 0
  .invitation
    order 2
  .mapka
    order 3
